# Ignore all __pycache__ directories recursively
*/__pycache__/

# Ignore Python bytecode files
*.pyc
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
*.cover

# Environments
.env
.venv
env/
venv/

# FastAPI specific
*.log

# UV Lock
uv.lock
.ruff_cache/